/* --- GLOBAL STYLE --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: aliceblue;
}

/* --- HEADER NAVBAR --- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background-color: #e6d8c6;
  box-shadow: 0 2px 10px rgba(75, 63, 53, 0.15);
  position: relative;
}

/* --- LOGO --- */
.navbar2 img {
  width: 350px;
  height: auto;
  margin-top: 2px;
  margin-left: -30px;
    transition: transform 0.5s ease;
}
.navbar2 img:hover {
  transform: scale(1.1);
}

/* --- BUTTONS --- */
.buttons {
  display: flex;
  gap: 35px;
}

.buttons button {
  background-color: #cebba0;
  color: #3c2f23;
  border: none;
  padding: 10px 22px;
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(75, 63, 53, 0.15);
}

.buttons button:hover {
  background-color: #4e3f2b;
  color: #e6d8c6;
  transform: scale(1.09);
  box-shadow: 0 3px 10px rgba(75, 63, 53, 0.25);
}

/* --- RIGHT SIDE ICON BAR --- */
.navbar3 {
  display: flex;
  margin-top: 10px;
  margin-right: -70px;
  gap: 25px;
}

.navbar3 i {
  color: #4b3f35;
  font-size: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar3 i:hover {
  color: #000;
  transform: scale(1.2);
}

/* --- SOCIAL ICONS INSIDE HEADER (TOP RIGHT CORNER) --- */
.navbar-social {
  position: absolute;
  top: 10px;
  right: 25px;
  display: flex;
  gap: 18px;
}

.navbar-social i {
  font-size: 24px;
  color: #847467;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-social i:hover {
  color: #010101;
}
/* --- USER --- */
.user {
  display: flex;
  margin-top: 30px;
  margin-right: -20px;
  gap: 28px;
}

.user i {
  color: #21180ebd;
  font-size: 78px;
  cursor: pointer;
  transition: 0.3s;
}

.user i:hover {
  color: #543926;
  transform: scale(1.2);
}
